
@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  width: 100%;
  margin: 0 auto;
}

a {
  color: green;
  transition: 0.4s;
}

.content {
  min-height: 100vh;
}

.content-with-text {
  border-top: 1px dashed green;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
