
@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

a {
  color: green;
  transition: 0.4s;
}

.content {
  min-height: 100vh;
}

.content-with-text {
  border-top: 1px dashed green;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 400;
  background: white;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
